{:nrepl {:port 8777}
 :deps true

 :dev-http {8020 "public"}

 :builds
 {:extension {:target :chrome-extension
              :extension-dir "resources/unpacked"
              :manifest-file "resources/unpacked/manifest.edn"
              :compiler-options
              {:closure-output-charset "US-ASCII"
               :source-map-inline true}

              :outputs {:background {:output-type :chrome/background
                                     :entries [aeterna.background]}

                        :content-script {:output-type :chrome/content-script
                                         :chrome/options {:matches ["<all_urls>"]
                                                          :run-at "document_end"}
                                         :entries [aeterna.content-script]}

                        :popup {:output-type :chrome/shared
                                :entries [aeterna.popup]}

                        :visualizer {:output-type :chrome/shared
                                     :entries [aeterna.visualizer]}}}}}
